.navbar {
  position: relative;
  height: 5em;
  top: 0em;
  right: 0em;
  width: 100%;
}

#logo {
  width: 100px;
  height: 100px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2.5em;
}

.navbar .navbar-brand {
  float: left;
  font-size: 2em;
}
.navbar .menu {
  position: absolute;
  right: 1em;
  margin-right: 1em;
  margin-left: .1em;
  font-size: 1.25em;
}

.social-icons {
  position: absolute;
  right: 4em;
  bottom: .2em;
}

@media (max-width: 1000px) {
  .navbar {
    height: 15em;
  }
  .navbar .active {
  }
  img {
    position: absolute;
  }
  .navbar .menu {
    position: absolute;
    top: -1em;
    right: 1em;
  }


  #logo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -2em;
    left: 0em;
    float:left;
  }

  .navbar-brand {
    font-size: .5em;
    position: absolute;
    left: 2.5em;
    top: 0em;
  }

  .navbar .links .active {
    position: absolute;
    float: right;
    margin-right: 0;
    right: .1em;
    margin-right: 1em;
    margin-left: .1em;
    font-size: 1.25em;
  }
}
