<img src="assets/images/feather-2-transparent-background.png" alt="">
<!-- <ul class="navbar-nav right-nav">
  <li class="nav-item active">
    <a  routerLink="/landing"
    routerLinkActive="active"
    class="nav-link"
    href="#">Home <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item active">
    <a  routerLink="/about"
    routerLinkActive="active"
    class="nav-link"
    href="#">About
    </a>
  </li>
  <li class="nav-item active">
    <a  routerLink="/gallery"
    routerLinkActive="active"
    class="nav-link"
    href="#">Gallery
    </a>
  </li>
  <li class="nav-item active">
    <a  routerLink="/contact"
    routerLinkActive="active"
    class="nav-link"
    href="#">Contact
    </a>
  </li>
</ul> -->

