<div class="jumbotron" style="height: 20em;color: white;background-image: url('assets/images/one.jpg'); background-size: cover;">
  <h1 style="margin-top: -1em;" class="display-3">BS Native Girl</h1>
  <div class="float-right">

    <p style="" class="lead">My collection of artwork is broken into catagories.  Here is a jumbotron of the featured images.</p>
    <p class="lead">
      <a style="position: absolute;bottom: -10em; right: 1em;" class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

<div class="row gallery-catagories">
    <div class="gallery-catagory col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img src="assets/images/one.jpg" class="img-responsive">
        Drums
    </div>

    <div class="gallery-catagory col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
        <img src="assets/images/wall.jpg" class="img-responsive">
        Mirrors
      </div>

    <div class="gallery-catagory col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
      <img src="assets/images/feather-one.jpg" class="img-responsive">
        Feathers
    </div>
</div>
