#navBarSupportedContent ul {
  position: absolute;
  float: right;

  right: 1em;
}
.navbar-nav .nav-link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-item {
  margin: 0 .5em;
}
.nav-item i {
  float: left;
}
.icon-text {
  position: relative;
  display: inline-block;
}

.nav-item i:hover {
  border-bottom: 1px solid blue;
}
a {
  float: right;
  margin-top: -.5em;
}

@media (max-width: 1000px) {

:not(.navbar-collapse)   {

}
:not(.navbar-collapse.collapse) {
}
.navbar-collapse.collapse {

}
.active {
  display: relative;
}
  .navbar-nav {
    margin-top: 5em;
    height: 15em;
  }
  .icon-text {
    position: absolute;
    right: 3em;
    margin-top: -1em;
    margin-left: 1em;
  }
 }

