<div ng-class="{'active': isActive}" ng-click="activeButton()" class="navbar-collapse collapse " id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <i class="fa fa-home">
        <a routerLink="/landing" routerLinkActive="active" class="nav-link active"><span class="icon-text">Home</span><span class="sr-only">(current)</span></a>
      </i>
    </li>
  <li class="nav-item">
    <i class="fa fa-info">
      <a routerLink="/about" routerLinkActive="active" class="nav-link"><span class="icon-text">About</span><span class="sr-only">(current)</span></a>
    </i>
  </li>
  <li class="nav-item">
    <i class="fa fa-picture-o">
      <a routerLink="/gallery" routerLinkActive="active" class="nav-link"><span class="icon-text">Gallery</span><span class="sr-only">(current)</span></a>
    </i>
  </li>
  <li class="nav-item">
      <i class="fa fa-envelope">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link"><span class="icon-text">Contact</span><span class="sr-only">(current)</span></a>
      </i>
    </li>
  </ul>
</div>
